button {
    padding: 1rem;
    cursor: pointer;
    color: #fff6e0;
    font-size: 1.5rem;
    border-radius: 1.25rem;
    background-color: #272829;
    border: 0.25rem solid yellowgreen;

    &:hover {
        color: whitesmoke;
        border-color: yellow;
        background-color: #1c1c1e;
    }
}