* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  color: white;
  background-color: black;
}

main {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: grid;
  place-items: center;
}

h1 {
  padding: 1rem;
}

p {
  color: #1c1c1e;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  background-color: white;
}

.glow {
  position: relative;
  background-color: #020c1b;
  color: #64ffda;
  border-radius: 10px;
}

.glow:before,
.glow:after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(to right, #00f260, #0575e6, #00f260);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  border-radius: 0.6rem;
  border-radius: inherit;
  animation: steam 20s infinite alternate;
}

.glow:after {
  filter: blur(3rem);
}

.shake {
  animation: shake 20ms infinite alternate;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
