* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: grid;
  color: white;
  gap: 1rem;
  place-items: center;
  background-color: black;
}

h1 {
  padding: 1rem;
  font-size: 2rem;
  border-radius: 1rem;
  border: 0.25rem solid gray;
}

.wrapper {
  width: 80%;
  padding: 1rem 0.5rem 0rem 1rem;
  position: relative;
  color: #d4d4d4;
  border-radius: 1rem;
  background-color: #1c1c1e;
}

.wrapper.outlined {
  outline: 0.125rem solid #ffb300;
}

textarea {
  width: 100%;
  resize: none;
  border: none;
  outline: none;
  margin-bottom: 1.5rem;
  padding-right: 0.5rem;
  color: inherit;
  font-size: 1.25rem;
  font-family: inherit;
  background-color: transparent;
}

.counter {
  position: absolute;
  bottom: 0.5rem;
  right: 0.75rem;
  color: gray;
  font-size: 1rem;
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  border-radius: 0.25rem;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background-color: #d9d9d9;
}
